In [42]:
import pandas as pd
import numpy as np

from nltk.tokenize import word_tokenize 
from nltk.corpus import stopwords
from string import punctuation
from nltk.stem import PorterStemmer

# EDA
Check relations b/w:
* keyword vs target
* location vs target
* target 1 & 0 ratio. (this ratio can be compared for training and test datasets)

In [21]:
train_data_og = pd.read_csv('./train.csv')
test_data_og = pd.read_csv('./test.csv')

print(train_data_og.dtypes)
display(train_data_og.sample(n= 5).style)
print(train_data_og.isnull().sum(), test_data_og.isnull().sum())

print(f"keyword vs target: \n{train_data_og[['keyword','target']].groupby(['keyword'])['target'].sum().sort_values(ascending=False)}")

id           int64
keyword     object
location    object
text        object
target       int64
dtype: object

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64 id             0
keyword       26
location    1105
text           0
dtype: int64
keyword vs target:
keyword
derailment     39
wreckage       39
outbreak       39
typhoon        37
debris         37
               ..
electrocute     1
epicentre       1
body%20bags     1
blazing         1
aftershock      0
Name: target, Length: 221, dtype: int64

# Feature Engineering
* (DONE) perform word tokenization
* (DONE) Remove stop words
* (DONE) Remove https links
* (DONE) Remove punctuations
* (DONE) lowercase strings
* (DONE) apply stemming : reducing words to their root words
* apply lemmatization? Study more about this
* vectorization: Bag of Words

In [106]:
train_data = train_data_og.copy()

train_data= train_data.replace(to_replace= {'text':{r'http\S+':'',r'[0-9]+':'',r'[^A-Za-z0-9 ]+':''}}, regex=True)

train_data['text'] = train_data['text'].str.lower().apply(word_tokenize)

stopwords_en = set(stopwords.words('english'))
punctuation_en = set(punctuation)
stopwords_punctuations_en = stopwords_en.union(punctuation_en)

train_data['text'] = train_data['text'].apply(lambda x: [word for word in x if word not in stopwords_punctuations_en and len(word)>2 ])

porter = PorterStemmer()
train_data['text'] = train_data['text'].apply(lambda x : [porter.stem(word) for word in x ] )

display(train_data.sample(n=5).style)

In [104]:
display(train_data[['text']].sample(n=10).style)
print(train_data.loc[4961,'text'])

['nprfreshair', 'realli', 'cant', 'believ', 'skip', 'republican', 'meltdowni', 'mean', 'debat']

## Observations:
* Some tokens contain: "'s", "--", decimal numbers etc.

# Model Selection
* Naive Bayes